@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Racing+Sans+One&family=Roboto:wght@400;700&display=swap');

* {
    font-family: "Roboto", sans-serif;
}
/* body {
    /* background-color: black;
    color: white; */
/* .border {
    border: 2px solid red;
    margin: 3px;
} */
.flex {
    display: flex;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.m-1 {
    margin: 7px;
}